* {
    color: $text_color_primary;
    @include reset;
}
.container-flex {
    display: flex;
}
.filler {
    flex-grow: 1;
}
.wrapper {
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        opacity: 0.8;
    }
}
.col-6 {
    width: 50%;
}
.col-3 {
    width: 25%;
}
// da cambiare gli hr con border tipo

// rivedere l'architettura delle prime sezioni
// ripulire il css ampliando mixins, variables e common