$bg_color_primary: white;
$bg_color_secondary: #ffe7d2;

$text_color_primary: #58402c;

$button_color_primary: #2e4790;
$button_color_text: white;

$button_border_radius: 5px;
$button_padding: 10px;
$btn_logo_size: 15px;

$small_img_height: 60px;
$big_img_height: 200px;

$default_margin: 30px;

// cambiare i colori