nav {
    background-color: $bg_color_primary;
    .wrapper {
        padding: $default_margin/3 0;
        border-bottom: 1px solid $text_color_primary;
    }
    img {
        height: 40px;
    }
    .btn-nav {
        @include default_btn;
        padding: $button_padding;
    }
    .btn-signup {
        @include default_btn;
        border: 1px solid $button_color_primary;
        border-radius: $button_border_radius;
        color: $button_color_primary;
        padding: $button_padding/2;
        img {
            height: $btn_logo_size;
            width: $btn_logo_size;
        }
    }
}
#s1 {
    background-color: $bg_color_primary;
    padding: $default_margin 0;
    h1 {
        font-size: 40px;
    }
    .button-container {
        margin: $default_margin 0 $default_margin/2;
    }
    button {
        @include signup_btn;
        img {
            height: $btn_logo_size;
            width: $btn_logo_size;
        }
    }
    img {
        width: 50%;
    }
}
#s2 {
    padding-top: $default_margin;
    background-color: $bg_color_secondary;
    text-align: center;
    .wrapper {
        border-bottom: 1px solid $text_color_primary;
    }
    .container-flex {
        justify-content: space-around;
        img {
            height: $small_img_height;
        }
    }
    img {
        height: $big_img_height;
        margin: $default_margin 0 $default_margin * 2;
    }
}
#s3 {
    padding: $default_margin 0;
    background-color: $bg_color_secondary;
    text-align: center;
    .container-flex {
        justify-content: space-around;
        div {
            font-size: small;
            img {
                display: block;
                height: $small_img_height;
                margin: $default_margin/2 auto;
            }
        }
    }
    img {
        height: $big_img_height;
        margin: $default_margin 0 $default_margin * 2;
    }
}
#s4 {
    background-color: $bg_color_primary;
    padding: $default_margin;
    .container-flex {
        margin-bottom: $default_margin;
    }
    img {
        width: 100%;
    }
    h3 {
        margin-bottom: $default_margin;
    }
    p {
        margin-bottom: $default_margin/2;
    }
    a {
        color: $button_color_primary;
        margin-bottom: $default_margin/3;
    }
}
#s5 {
    padding: $default_margin 0;
    background-color: $bg_color_secondary;
    text-align: center;
    .bubble {
        width: 40%;
        border: 1px solid $button_color_primary;
        border-radius: 10px;
        padding: $default_margin/2;
        margin: $default_margin auto;
        background-color: white;
        text-align: left;
        p {
            font-size: small;
            margin-bottom: $default_margin/2;
        }
        div {
            * {
                margin-right: $default_margin/2;
            }
            img {
                width: 40px;
            }
            p {
                display: inline-block;
                margin-bottom: 0;
                span {
                    color: $button_color_primary;
                }
            }
        }
    }
    .button-container {
        width: 40%;
        margin: $default_margin auto $default_margin/2;
        button {
            @include signup_btn;
            img {
                height: $btn_logo_size;
                width: $btn_logo_size;
            }
        }
    }
}
footer {
    padding: $default_margin 0;
    .container-flex {
        justify-content: space-between;
        div {
            flex-basis: 200px;
            flex-shrink: 1;
            flex-grow: 1;
            margin-right: $default_margin/2;
            &:first-child {
                flex-basis: 600px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    img {
        height: 40px;
        width: 40px;
        margin-right: $default_margin/2;
    }
    p {
        line-height: 30px;
        font-weight: 600;
        span {
            color: $button_color_primary;
            font-weight: 500;
        }
    }
    h3 {
        margin-bottom: $default_margin * 2/3;
    }
    ul {
        list-style: none;
        li {
            line-height: 30px;
        }
    }
}
